@page "/"

<PageTitle>Kicking the Blazor Tires</PageTitle>

<h1>Hello, World!</h1>

Howdy! Just trying out a few things - feel free to look around!<br />
<a href="https://immatt.com" target="_blank">-Matt</a>
